body {
    margin: 0;
}

.header {
    display: flex;
    padding-left: 16px;
    justify-content: space-between;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(66,73,79);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-right: 16px;
    width: 60px;
    height: 60px;
}

.navigationbar {
    display: flex;
    font-family: 'News Cycle', sans-serif;
    height: 6%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195,195,195);
    border: black 1px solid;
    width: 30%;
}

.chats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195,195,195);
    border: black 1px solid;
    width: 70%;
}

h3:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(71,71,71);
}

.main-section {
    display: flex;
    position: relative;
    height: auto;
}

.contact-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,19,26);
    width: 30%;
}

.contactcontainer {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border: solid 1px black;
}

.contactpic {
    display: flex;
    margin-right: 20px;
    border-radius: 100%;
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.contactpic:hover {
    transform: scale(1.4);
}

.contactname {
    display: flex;
    font-family: 'Neucha', cursive;
    color: rgb(195,195,195);
    font-weight: lighter;
}

.contactname:hover {
    transform: scale(1.1);
    cursor: pointer;
    text-shadow:
     0 0 10px #FFFFFF,
     0 0 20px #FFFFFF,
     0 0 30px #FFFFFF,
     0 0 40px rgb(143,218,208),
     0 0 70px rgb(143,218,208),
     0 0 80px rgb(143,218,208),
     0 0 100px rgb(143,218,208)
}

.status {
    display: flex;
    margin-left: auto;
    margin-right: 20px; 
    height: 30px;
    width: 30px;
}

.status:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.chat-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(img/wallpaper2.jpeg);
    background-position: center;
    background-size: cover;
    width: 70%;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sigmar One', cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 70;
    color: rgb(143,218,208);
}

.d-none {
    display: none;
}

.justthechat {
    display: flex;
    justify-content: center;
    background-image: url(img/wallpaper1.jpeg);
    background-size: cover;
    width: 70%;
}

.Overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.overlay-Pic {
    object-fit: cover;
}

.delete {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.input {
    display: flex;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.icons {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.icons:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.user-area {
    display: flex;
    padding-top: 10px;
    background-color: rgb(66,73,79);
    height: 40px;
}

.smiley-menu {
    position: absolute;
    display: flex;
    margin-top: 67vh;
    align-items: center;
    right: 0;
    align-items: center;
    top: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 40vh;
    height: 10vh;
    background-color: white;
    border: 1px solid black;
    transform: translateX(501px);
    transition: all 1s ease-in-out;
    background-color: rgb(245,245,245);
    transform: translateX(0);
}

.close-button {
    display: flex;
    margin-left: 20px;
    font-size: 20;
    cursor: pointer;
}

.S-button {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.message {
    display: flex;
    background-color: white;
    font-family: 'Neucha', cursive;
}

.message {
    position: relative;
    margin:0 auto;
    padding: 1rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: white;
    font-family: 'Neucha', cursive;
    font-size: 25;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}
    
.message:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 28px;
    bottom: -17px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 17px solid white;
}

.message-area {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}